<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhd.miaosha.mapper.UserMapper">
    <select id="getUserByTel" parameterType="String"
            resultType="com.lhd.vo.User">
 select * from miaosha_user where tel = #{tel} </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.lhd.vo.User">
        update miaosha_user set password=#{record.getPassword()} where userid=#{record.getUserid()}
    </update>
</mapper>